default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  database: spark_test_task_development

test:
  <<: *default
  database: spark_test_task_test

production:
  <<: *default
  database: spark_test_task_production
  username: spark_test_task
  password: <%= ENV['SPARK_TEST_TASK_DATABASE_PASSWORD'] %>
